<h3>Listado de empleados</h3>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Primer nombre</th>
      <th>Segundo nombre</th>
      <th>Primer apellido</th>
      <th>Segundo apellido</th>
      <th>pais</th>
      <th>Tipo documento</th>
      <th>Número</th>
      <th>Correo</th>
      <th>Fecha ingreso</th>
      <th>Área</th>
      <th>Estado</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.otroNombre }}</td>
      <td>{{ empleado.primerApellido }}</td>
      <td>{{ empleado.segundoApellido }}</td>
      <td>{{ empleado.pais }}</td>
      <td>{{ empleado.tipoIdentificacion }}</td>
      <td>{{ empleado.numeroIdentificacion }}</td>
      <td>{{ empleado.correo }}</td>
      <td>{{ empleado.fechaHoraIngreso }}</td>
      <td>{{ empleado.area }}</td>
      <td>{{ empleado.estado }}</td>
      <td>
        <button type="button" class="btn btn-primary">
          <i class="far fa-eye"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
