
<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.ombre" name="nombre" class="form-control" />
        <label class="form-label" for="form1Example1">Nombre</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" [(ngModel)]="empleado.otroNombre" name="otroNombre" class="form-control" />
        <label class="form-label" for="form1Example2">Otro Nombre</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.primerApellido" name="primerApellido" class="form-control" />
        <label class="form-label" for="form1Example1">Primer Apellido</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.segundoApellido" name="segundoApellido" class="form-control" />
        <label class="form-label" for="form1Example1">Segundo Apellido</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.pais" name="pais" class="form-control" />
        <label class="form-label" for="form1Example1">Tipo de documento</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.tipoIdentificacion" name="tipoIdentificacion" class="form-control" />
        <label class="form-label" for="form1Example1">N&uacute;mero de documento</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.numeroIdentificacion" name="numeroIdentificacion" class="form-control" />
        <label class="form-label" for="form1Example1">Pa&iacute;s</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.correo" name="correo" class="form-control" />
        <label class="form-label" for="form1Example1">Correo Electronico</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.fechaHoraIngreso" name="fechaHoraIngreso" class="form-control" />
        <label class="form-label" for="form1Example1">Fecha Ingreso</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.area" name="area" class="form-control" />
        <label class="form-label" for="form1Example1">&Aacute;rea</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" [(ngModel)]="empleado.estado" name="estado" class="form-control" />
        <label class="form-label" for="form1Example1">Estado</label>
    </div>
    
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
</form>